<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSObject</key>
	<array>
		<string>FEX_accessibilityLabel</string>
		<string>FEX_accessibilityFrame</string>
	</array>
	<key>NSView</key>
	<array>
		<string>tag</string>
		<string>autoresizesSubviews</string>
		<string>autoresizingMask</string>
		<string>frame</string>
		<string>bounds</string>
		<string>isHidden</string>
		<string>isFlipped</string>
		<string>isRotatedFromBase</string>
		<string>isRotatedOrScaledFromBase</string>
		<string>isInFullScreenMode</string>
		<string>isOpaque</string>
		<string>canBecomeKeyView</string>
		<string>acceptsTouchEvents</string>
		<string>wantsRestingTouches</string>
	</array>
	<key>NSWindow</key>
	<array>
		<string>alphaValue</string>
		<string>backgroundColor</string>
		<string>isOpaque</string>
		<string>level</string>
		<string>isKeyWindow</string>
		<string>frame</string>
		<string>isVisible</string>
		<string>windowNumber</string>
		<string>isSheet</string>
	</array>
	<key>NSControl</key>
	<array>
		<string>stringValue</string>
		<string>attributedStringValue</string>
	</array>
	<key>NSScrollView</key>
	<array>
		<string>backgroundColor</string>
		<string>borderType</string>
		<string>contentSize</string>
		<string>documentVisibleRect</string>
		<string>drawsBackground</string>
		<string>hasHorizontalScroller</string>
		<string>hasVerticalScroller</string>
		<string>autohidesScrollers</string>
		<string>hasHorizontalRuler</string>
		<string>hasVerticalRuler</string>
		<string>rulersVisible</string>
		<string>scrollerKnobStyle</string>
		<string>scrollerStyle</string>
		<string>lineScroll</string>
		<string>horizontalLineScroll</string>
		<string>verticalLineScroll</string>
		<string>pageScroll</string>
		<string>horizontalPageScroll</string>
		<string>verticalPageScroll</string>
		<string>scrollsDynamically</string>
		<string>findBarPosition</string>
		<string>usesPredominantAxisScrolling</string>
		<string>horizontalScrollElasticity</string>
		<string>verticalScrollElasticity</string>
	</array>
	<key>NSTableView</key>
	<array>
		<string>dataSource</string>
	</array>
	<key>NSTextField</key>
	<array>
		<string>isEditable</string>
		<string>isSelectable</string>
		<string>drawsBackground</string>
		<string>backgroundColor</string>
		<string>isBezeled</string>
		<string>bezelStyle</string>
		<string>isBordered</string>
	</array>
	<key>NSTextView</key>
	<array>
		<string>isEditable</string>
		<string>isSelectable</string>
		<string>drawsBackground</string>
		<string>backgroundColor</string>
	</array>
	<key>NSSegmentedControl</key>
	<array>
		<string>segmentStyle</string>
		<string>segmentCount</string>
		<string>selectedSegment</string>
	</array>
</dict>
</plist>
